[Desktop Entry]
Name=ConcatCNC
Version=1.0
Comment=ConcatCNC
Exec=bash -c "cd ~/ConcatCNC; git fetch --all; git reset --hard origin/master; MESA_EXTENSION_OVERRIDE=-GL_MESA_framebuffer_flip_y ~/ConcatCNC/node_modules/.bin/electron ~/ConcatCNC"
Icon=/home/pi/ConcatCNC/build/icons/32x32.png
Terminal=false
Type=Application
Categories=Other
